<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">
  <title> 
       {% if page.title == "Home" %}
             {{ site.title }}
       {% else %}
             {{ page.title }} 
       {% endif %}
 </title>
 <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
 <link rel="stylesheet" href="{{ '/assets/fonts.css' | absolute_url  }}">
 <link rel="stylesheet" href="{{ '/assets/style.css' | absolute_url }}">
 <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
       {% feed_meta %}
       {% include analytics.html %}
       {% seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WL8C3CWJ9R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-WL8C3CWJ9R');
</script>
</head>