  <div class="relative z-20 flex justify-between items-center">
    <div class="flex md:block lg:flex items-center max-w-full">
      <div class="mb-0 md:mb-4 lg:mb-0 flex flex-no-shrink pr-4 md:pr-6 lg:pr-12">
        <a href="/" class="flex items-center no-underline">
          <img class="h-12 w-12 md:h-12 md:w-12 lg:h-20 lg:w-20 rounded-full" src="./pic.png" lt="<?php esc_attr_e( 'Post Image', 'profile pic' ); ?>" alt="">
        </a>  
      </div>
      <div> 
        <a href="/" class="block text-black no-underline font-bold text-xl lg:text-3xl font-extrabold leading-none lg:leading-tight">Abrham Bas
        </a>
      </div>
    </div>
  </div>
