<!doctype html>
<html lang="en">
 
{% include head.html %}

<body class="font-sans leading-tight antialiased">
  <div id="app" class="text-grey-darkest bg-white py-8 lg:py-16 px-6 md:px-16 lg:px-24 ">
    <!-- pic with name.. -->
    
    {% include nav.html %}
   
 <div class="max-w-md">
      <div class="mt-8 text-lg font-sans spaced-y-12">
        {{ content }}
      </div>
      <div class="mt-16 text-lg text-grey-darkest leading-normal spaced-y-6">
        <p>{{ page.para_footer }} <a href="#" class="text-black">{{ page.para_link }}</a>.
        </p>
      </div>
</div>


</div>
</div>

<script src="{{ 'assets/vue.js' | absolute_url }}"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        menuOpen: false
      },
      methods: {
        toggleMenu: function () {
          if (this.menuOpen) {
            this.menuOpen = false
            document.body.classList.remove('scrolling-auto', 'overflow-hidden', 'fixed', 'pin-x')
          } else {
            this.menuOpen = true
            document.body.classList.add('scrolling-auto', 'overflow-hidden', 'fixed', 'pin-x')
          }
        }
      }
    });
  </script>
{% include open-embed.html %}
</body>
</html>
</body>
</body>
</html>
